@use "~@infineon/design-system-tokens/dist/tokens";

* { 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3";
}

.main__table-template-wrapper { 
  padding: 0 tokens.$ifxSpace400;
  display: flex;
  flex-direction: column;
  gap: tokens.$ifxSpace300;

  & .table__desc { 
    padding: tokens.$ifxSpace400 0;
    & h2 { 
      color: tokens.$ifxColorBaseBlack;
      font-size: tokens.$ifxSize450;
      font-style: normal;
      font-weight: tokens.$ifxFontWeightSemibold;
      line-height: tokens.$ifxSize600;
      letter-spacing: -0.36px;
    }
  }

  & .pagination__wrapper { 
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1440px) { 
  .main__table-template-wrapper { 
    padding: 0 tokens.$ifxSpace1500;
  }
}